<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">



        
        </script>
    
        <script>
           
                
            $(document).ready(function() {

                // open file browser when browse button is clicked
                
                // $('#files').onChange = function () {

                //     console.log('test')
                //     var theFiles = e.target.files;
                //     console.log(theFiles)
                    
                //     for (i=0; i < theFiles.length; i++) {
                //         console.log(theFiles[i])
                        // var img = document.createElement('img')
                        // img.src = URL.createObjectURL(files[i])
                        // img.width = 280
                        // img.height = 200
                        // document.body.appendChild(img)
                //     }
                    

                // }

            
            });
        </script>

        <title> WELCOME </title>
    </head>
    <body>
        <h2>Getting Started</h2>
        <p> Organise your files as such: </p>
        <p style="font-style: italic;"> 
            folder <br>
            &ensp; ↳ query <br>
            &ensp; &ensp; ↳ query_images<br>
            &ensp; ↳ support <br>
            &ensp; &ensp; ↳ label1 <br>
            &ensp; &ensp; &ensp; ↳ label1_image <br>
            &ensp; &ensp; ↳ label2 <br>
            &ensp; &ensp; &ensp; ↳ label2_images <p>
        <p>

                <form id='form', action="/uploadfiles/" enctype="multipart/form-data" method="post">
                <input name="files", id='files', type="file" webkitdirectory directory multiple, onchange="get_imgs()">
                <input type="submit">
                </form>
    </body>

 

</html>